// Global styling for this theme

html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h6 {
  @include heading-font;
}

h5 {
  font-size: 1.3rem;
  font-weight: 400;
}

body {
  height: 100%;
  position: relative;
  @include body-font;
  @include background-image($bg-url);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $secondary;
  opacity: 0.75;
}

#upsell {
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

blockquote {
  padding: 1rem;
  margin: 0;
  background: rgba(0,0,0,0.3);
}

//// bootstrap overrides?
.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  color: white;
  // &:active,
  // &:focus,
  // &:hover {
  //   background-color: darken($secondary, 10%) !important;
  //   border-color: darken($secondary, 10%) !important;
  // }
}

.input {
  font-weight: 300 !important;
}

.form-control:focus {
  border-color: $secondary;
}

// small {
//   font-weight: 100;
// }

// .form-check-input {
//   margin-left: 0;
// }


