.masthead {
  position: relative;
  overflow: hidden;
  padding: 0;
  overflow-y: scroll;
  .masthead-bg {
    background-color: fade-out($primary, 0.2);
  }
  .masthead-content {
    p {
      font-size: 1.2rem;
      strong {
        font-weight: 700;
      }
    }
    .input-group-newsletter {
      input {
        font-size: 1rem;
        padding: 1rem;
      }
      button {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem;
      }
    }
  }
  h1, h2 {
    margin: 2rem 0;
  }
  a {
    color: $secondary;
    &.btn-secondary {
      color: white;
    }
  }
  .photo-credit {
    position: absolute;
    top: -40px;
    right: -40px;
  }
  figure {
    img {
      width: 100%;
    }
    figcaption {
      text-align: right;
      font-size: 0.75rem;
      a {
        border: 1px solid #cca700;
        border-top: none;
        border-bottom: none;
        padding: 0px 6px;
        margin-left: -4px;
      }
    }
  }
  hr {
    border-color: $secondary;
    border-width: 2px;
  }
}

.faq {
  h3 {
    margin: 1.75rem 0 0.25rem;
    font-size: 1.25rem;
  }
}
.logos {
  img {
    width: 100%;
  }
  a {
    margin-bottom: 1rem;
  }
}

.ml-list {
  padding-left: 0;
  font-size: 1.2rem;
  list-style-position: inside;
}

@media (min-width: 768px) {
  .masthead {
    // height: 100%;
    width: 40.5rem;
  }
  .logos {
    img {
      width: 80%;
    }
  }
}
@media (min-width: 1200px) {
  .masthead {
    width: 60rem;
  }
}
