// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin background-image($url) {
  @include background-cover;
  background-image: url($url);
  background-position: center center;
  background-repeat: no-repeat;
}

// Font Mixins
@mixin body-font {
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 1.4;
}
@mixin heading-font {
  // font-family: 'Roboto';
  font-weight: 700;
  line-height: 1.2;
}
