// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// $primary: #002E66 !default;
// $secondary: #cd9557 !default;

$meliora-blue: #003B71; /// from http://www.rochester.edu/creativeservices/identityguide_2017.pdf
$meliora-yellow: #FFD100;
$meliora-gray: #484848;


$secondary: darken($meliora-yellow, 10%) !default;
// $secondary: $meliora-yellow;
$primary: $meliora-blue !default;
$dark: $meliora-blue !default;

$bg-url: '/img/bg.jpg';
