// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";

@import "../vendor/bootstrap/scss/bootstrap";

@import "bootstrap-overrides.scss";
// Global CSS
@import "global.scss";
// Components
@import "masthead.scss";
@import "social.scss";
@import "price-form";

.mc-field-group.input-group {
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
