@import "variables.less";
@import "mixins.less";

@import "nav.less";
@import "header.less";
@import "portfolio.less";
@import "timeline.less";
@import "team.less";
@import "contact.less";
@import "footer.less";
@import "modal.less";

// Global Components

.mc-modal {
  z-index: 9999 !important;
  top: 100px !important;

}
.mc-closeModal {
  background: white;
  padding: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.ion-2x {
  font-size: 2em;
  width: 40px;
}
.ion-3x {
  font-size: 3em;
  width: 60px;
}
.ion-4x {
  font-size: 4em;
  width: 80px;
  height: 80px;
}
.ion-circled {
  color: white;
  border-radius: 50%;
  display: inline-block;
  background: @brand-dark;
  &.primary {
    background: @brand-primary;
  }
  &.secondary {
    background: @brand-secondary;
  }
}

body {
	overflow-x: hidden;
	.body-font;
}

.text-muted {
	color: @gray;
}

.text-primary {
	color: @brand-primary;
}

p {
	font-size: 14px;
	line-height: 1.75;
}

p.large {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
}

a {
	color: @brand-secondary;
  font-weight: 900;
}

a:hover,
a:focus,
a:active,
a.active {
	color: darken(@brand-secondary, 10%);
}

h1, h2, h3, h4, h5, h6 {
	.heading-font;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

.bg-light-gray {
	background-color: @gray-lighter;
}

.bg-darkest-gray {
	background-color: @gray-darkest;
}

// Restyled Primary Buttons

.btn-primary {
	.button-variant(white; @brand-primary; @brand-primary);
	.heading-font;
	font-weight: 700;
}

.btn-secondary {
  .button-variant(white; @brand-secondary; @brand-secondary);
  .heading-font;
  font-weight: 700;
}

.btn-xl {
	.button-variant(white; @brand-primary; @brand-primary);
	.heading-font;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;
}




// Global Section Styles

section {
  padding: 50px 0;
  overflow: hidden;
  h2.section-heading {
  	font-size: 40px;
	 margin-top: 0;
	 margin-bottom: 15px;
  }
  h3.section-subheading {
  	font-size: 16px;
  	.serif-font;
  	text-transform: none;
  	font-style: italic;
  	font-weight: 400;
  	margin-bottom: 25px;
  }
}

// Services Section

.service-heading {
	margin: 15px 0;
	text-transform: none;
}


#email {
  input {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    .transition-all;
  }
  .form-group {
    margin-bottom: 20px;
  }
  @media (min-width: 768px) {
    .col-sm-6 {
      padding: 0;
    }
  }
  .disclaimer {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  #mc_embed_signup input.mce_inline_error {
    border: none;
    .form-error;
  }
  .response {
    margin-bottom: 20px;
    &#mce-success-response {
      color: @brand-primary;
    }
    &#mce-error-response {
      color: @brand-danger;
    }
  }
}

// Clients Aside

aside {
  background: @brand-dark;
  color: white;
  padding: 20px 0px;
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 0;
  }
  .trusted-by {
    .serif-font;
    font-style: italic;
    text-transform: initial;
  }
	.img-responsive {
		margin: 25px auto;
    @media (max-width: 640px) {
      width: 150px;
    }
	}
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: none;
}

// Highlight Color Customization

::-moz-selection {
  text-shadow: none;
  background: @brand-secondary;
  color: white;
}

::selection {
  text-shadow: none;
  background: @brand-secondary;
  color: white;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  webkit-tap-highlight-color: @brand-secondary;
}
